<div class='title'>
    <h1>{{ title }}</h1>
</div>

<div class='content'>
    <Label>Select Generation Type:</Label>
    <select name='generation methods' id='generation methods' [(ngModel)]='generationType'>
        <option value='dfs'>Depth First Search</option>
        <option value='recursive division'>Recursive Division</option>
        <option value='ca'>Cellular Automata</option>
    </select>
    <button (click)='setMaze(generationType)' [disabled]="generationType ==='empty'">Generate</button>
</div>

<main class='content'>
    <app-maze-visual [mazeArray]=generatedSteps[currentStep] [interactive] = false></app-maze-visual>
</main>

<pre class='content'>
    Info:
    <a target="_blank" href="https://en.wikipedia.org/wiki/Maze_generation_algorithm">maze generation wiki</a>
    Maze generation Types:
    <br>
    <li> recursive division </li>
    <li> recursive dfs backtracking  </li>
    <li> cellular automata with rulestring b3s12345 - ensures solvable after generation </li>
    <br>
    *Maze solution checker uses dfs backtracking with stack.
</pre>