<div class='title'>
    <h1>{{ title }}</h1>
</div>

<div class='content'>
    <Label>Select Generation Type:</Label>
    <select name='generation methods' id='generation methods' [(ngModel)]='generationType'>
        <option value='dfs'>Depth First Search</option>
        <option value='recursive division'>Recursive Division</option>
    </select>
    <button (click)='setMaze(generationType)' [disabled]="generationType ==='empty'">Generate</button>
</div>

<main class='content'>
    <app-maze-visual [mazeArray]=generatedSteps[currentStep] [interactive] = false></app-maze-visual>
</main>

<div class='content'>
    Info:
    <a target="_blank" href="https://en.wikipedia.org/wiki/Maze_generation_algorithm">maze generation wiki</a>
    Maze generation uses recursive division and recursive dfs backtracking.
    <br>
    Maze solution checker uses dfs backtracking with stack.
</div>

<nav>
    <a routerLink='/'>Home</a>
</nav>