<div class='content'>
    <h1>{{ title }}</h1>
</div>

<div class='content'>
    <label>Select Generation Type:</label>
    <select name='generation methods' id='generation methods' [(ngModel)]='generationType'>
        <option value='dfs'>Depth First Search</option>
        <option value='recursive division'>Recursive Division</option>
    </select>
    <label>Input Size (5 to 20):</label>
    <input id='dimensions' placeholder='default' type='number' required min='5' required max='20'
        [(ngModel)]='size' #dimensions='ngModel'>
    <div *ngIf="dimensions.errors?.['min'] || dimensions.errors?.['max']">
        Dimensions must be between 5 and 20 (inclusive).
    </div>
    <button (click)='setMaze(generationType, size)'
        [disabled]="dimensions.errors?.['min'] || dimensions.errors?.['max'] ||
        size == null || generationType === 'empty'">Generate</button>
</div>

<main class='content'>
    <app-maze-visual [mazeArray]=generatedMaze [interactive]=true></app-maze-visual>

    <button (click)='setAccuracy()'>Check</button>
    <h1>{{accuracyDisplay}}</h1>
    <button (click)='saveMaze()'>Save Maze</button>
</main>

<nav>
    <a routerLink='/'>Home</a>
</nav>