<div class='title' style='margin-top: 25px;'>
    <h1>{{ title }}</h1>
</div>

<div style='margin-top: -40px; margin-bottom: 30px; display: flex; flex-direction: column; align-items: center;'>
    (Description at bottom.)
</div>

<div class = 'RussoFont' style='margin-top: -20px; margin-bottom: -20px;'>
    <h1>{{completionDisplay}}</h1>
</div>

<main class='content' style='margin-top: 25px;'>
    <app-maze-visual [mazeArray]=generatedMaze [interactive]=true [turtlePos]=turtlePos [turtleAngle]=turtleAngle
    (turtleAngleChange)="updateTurtleAngle($event)" (changeCompletion)="setCompletion()"></app-maze-visual>
    <img [ngStyle]="{position: 'relative', 
    left: (turtlePos[0] * 30 - 120) + 'px', top: (turtlePos[1] * 30 - 271) + 'px',
    transform: 'rotate(' + turtleAngle + 'deg)'}" src="assets/30x30-pixel-turtle.png"/>

    <button (click)='setCompletion()'>Check</button>
    <button (click)='saveMaze()'>Save Maze</button>
</main>

<div class='content' style='margin-top: -10px;'>
    <label>Select Generation Type:</label>
    <select name='generation methods' id='generation methods' [(ngModel)]='generationType'>
        <option value='dfs'>Depth First Search</option>
        <option value='recursive division'>Recursive Division</option>
        <option value='ca'>Cellular Automata</option>
    </select>
    <label>Input Size (5 to 20):</label>
    <input id='dimensions' placeholder='default' type='number' required min='5' required max='20'
        [(ngModel)]='size' #dimensions='ngModel'>
    <div *ngIf="dimensions.errors?.['min'] || dimensions.errors?.['max']">
        Dimensions must be between 5 and 20 (inclusive).
    </div>
    <button (click)='setMaze(generationType, size)'
        [disabled]="dimensions.errors?.['min'] || dimensions.errors?.['max'] ||
        generationType === 'empty'">Generate</button>
</div>

<div class='info'>
    Description:
</div>
<div class='info'>
    <li>The maze is marked as completed when you reach the green square.</li>
    <li>Move the turtle by pressing the red indicators.</li>
    <li>Visited areas will turn blue.</li>
    <li>Generation type and size are available to set.</li>
    <li>Guest login to save mazes.</li>
    <li>Maze solution checker uses dfs backtracking with stack.</li>
</div>