.empty-square {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
}

.empty-square-option {
    height: 30px;
    width: 30px;
    background-color: #f84d4d;
}

.wall-square {
    height: 30px;
    width: 30px;
    background-color: #000000;
}

.unvisited-square {
    height: 30px;
    width: 30px;
    background-color: red;
}

.selected-square {
    height: 30px;
    width: 30px;
    background-color: #0090FF;
}

.selected-square-option {
    height: 30px;
    width: 30px;
    background-color: #f84d4d;
}

.end-square {
    height: 30px;
    width: 30px;
    background-color: lightgreen;
}