.empty-square {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
}

.wall-square {
    height: 30px;
    width: 30px;
    background-color: #000000;
}

.unvisited-square {
    height: 30px;
    width: 30px;
    background-color: red;
}

.selected-square {
    height: 30px;
    width: 30px;
    background-color: #0090FF;
}

.end-square {
    height: 30px;
    width: 30px;
    background-color: #0090FF;
}

.end-circle {
    height: 30px;
    width: 30px;
    background-color: black;
    clip-path: circle(20%);
}