<div>
    <p class="policy-format">
        Purpose:
        <br />
        Help better understand and visualize maze related concepts through demos, a mini-game, & descriptions.
    </p>
</div>

<div>
    <p class="policy-format">
        Generation Type Summaries:
        <br />
        Depth First Search: Create each path fully then repeat at last intersection till complete (stack based data structure is relevant).
        <br />
        Recursive Division: Divide empty maze into smaller sections until satisfied.
        <br />
        Cellular Automata: Determine next state of each cell at each step by applying rules based on surrounding cells (current rulestring(s): b3s12345).
    </p>
</div>

<div>
    <p class="policy-format">
        Contact Info:
        <br />
        Email -> amazing-website-party@proton.me (for guest password, questions, etc.)
    </p>
</div>