<div style="display: flex;" class="login-format">
  <span style="margin-left: auto; cursor: pointer; text-decoration: underline;"
        onclick="document.getElementById('loginForm').style.display='block'">
    Log In
  </span>
</div>

<div style="display: flex;" class="login-format">
  <span style="margin-left: auto; cursor: pointer; text-decoration: underline;"
        (click)="logout()">
    Log Out
  </span>
</div>

<div id='loginForm' class='modal'>
  <form class='modal-content'>
    <div>
      <label><b>Username: </b></label>
      <input type='text' placeholder='Enter Username' [(ngModel)]='inputUsername' [ngModelOptions]='{standalone: true}' required>
    </div>
    <div>
      <label><b>Password: </b></label>
      <input class='center' type='password' placeholder='Enter Password' [(ngModel)]='inputPassword' [ngModelOptions]='{standalone: true}' required>
    </div>
    <button class='center' (click)='login(inputUsername, inputPassword)'>Submit</button>
  </form>
</div>

<div class='title' style='margin-top: 10px; margin-bottom: -40px;'>
  <h1 class='slide-in'>{{ title }}</h1>
</div>

<app-demo></app-demo>

<div class='content' style='margin-top: 20px;'>
  <label *ngIf='details == null'>
    logged out
  </label>
  <label *ngIf='details != null'>
    username: {{details[0]}}
  </label>
</div>

<div class='content' style='margin-top: -20px;'>
  <label *ngIf='loginRemaining != null'>
    Login expires in {{loginRemaining}} minutes.
  </label>
</div>

<nav class='link-format'  style='margin-top: -10px;'>
  <h2 style='text-decoration: none; color: white; font-size: 18px;'>Pages:</h2>
  <ul style='list-style-type: none; margin-right: 30px;'>
    <li><a routerLink='/game'>Mini-game</a></li>
    <li *ngIf="details != null && (details[1] == 'ADMIN' || details[1] == 'GUEST')"><a routerLink='/saves'>Saves</a></li>
    <li *ngIf="details != null && details[1] == 'ADMIN'"><a routerLink='/admin'>Admin</a></li>
  </ul>
</nav>
