<div style='display: flex;'>
  <button style='margin-left: auto;' onclick="document.getElementById('loginForm').style.display='block'">
    Log In
  </button>
</div>

<div style='display: flex;'>
  <button style='margin-left: auto;' (click)='logout()'>
    Log Out
  </button>
</div>

<div id='loginForm' class='modal'>
  <form class='modal-content'>
    <div>
      <label><b>Username: </b></label>
      <input type='text' placeholder='Enter Username' [(ngModel)]='inputUsername' [ngModelOptions]='{standalone: true}' required>
    </div>
    <div>
      <label><b>Password: </b></label>
      <input class='center' type='password' placeholder='Enter Password' [(ngModel)]='inputPassword' [ngModelOptions]='{standalone: true}' required>
    </div>
    <button class='center' (click)='login(inputUsername, inputPassword)'>Submit</button>
  </form>
</div>

<div class='title'>
  <h1>{{ title }}</h1>
</div>

<div class='content'>
  <label *ngIf='details == null'>
    logged out
  </label>
  <label *ngIf='details != null'>
    username: {{details[0]}}
  </label>
</div>

<div class='content'>
  <label *ngIf='loginRemaining != null'>
    Login expires in {{loginRemaining}} minutes.
  </label>
</div>

<nav class='link-format'>
  <h2 style='text-decoration: none; color: white; font-size: 18px;'>Pages:</h2>
  <ul style='list-style-type: none; margin-right: 30px;'>
    <li><a routerLink='/demo'>Demo</a></li>
    <li><a routerLink='/solve'>Solve</a></li>
    <li *ngIf="details != null && (details[1] == 'ADMIN' || details[1] == 'GUEST')"><a routerLink='/saves'>Saves</a></li>
    <li *ngIf="details != null && details[1] == 'ADMIN'"><a routerLink='/admin'>Admin</a></li>
  </ul>
</nav>
